@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');



.home-page {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
}

.home-page img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.login-wrapper{
  
}

.submitBtn {
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
  }

  .submitBtn:hover{
    background-color: darkblue;
    border-color: #fff;
    transition: all .1s ease-in-out;
  }

.myPage{
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 75vh;
  margin: 2% auto;
  box-shadow: 0 0 15px 2px gray;
  font-size: 2vh;
  font-family: 'Roboto', sans-serif;
}


.createPostBtn{
  display: flex;
  justify-content: center;
}

h1{
  display: flex;
  justify-content: center;
}

.deleteBtn{
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color:red;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;

}
.deleteBtn:hover{
  background-color: darkred;
  border-color: #fff;
  transition: all .1s ease-in-out;
}
.overall-home {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.text-on-background {
  position: absolute;
  left: 90px;
  top: 50px;
  font-family: "Brush Script MT";
  font-size: 5vw;
  color: white;
  margin: 0;
  padding: 0;
}

.description{
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 50%;
  margin-top:1%;
}

.description img {
  margin-top: 5%;
  height: 100%;
  width: 95%;
  max-width:500px;
}



.forms { 
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}


.order-form {
  padding: 50px 50px;
  margin: 30px 0;
  box-shadow: 0 0 15px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form {
  padding: 50px 50px;
  margin: 30px 0;
  box-shadow: 0 0 15px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 


.login-form {
  padding: 50px 50px;
  margin: 30px 0;
  box-shadow: 0 0 15px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.date{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .95em;
  font-family: 'Roboto', sans-serif;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.individualPost{
  background-color: rgb(255, 255, 255);
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0;
  box-shadow: 0 0 15px 2px gray
}

.myPost{
  background-color: rgb(255, 255, 255);
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0;
  box-shadow: 0 0 15px 2px gray
}


.postTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.title{
  background-color: rgb(255, 255, 255);
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0;
  box-shadow: 0 0 15px 2px gray;
}




.title{
  margin-bottom: 0;
}
